.container {
   padding: 3rem 6rem;
   height: 100%;
}
.header {
   font-size: 3.5rem;
   margin-bottom: 2rem;
}

.formWrapper {
   background: #fff;
   padding: 1rem 4rem;
   border-radius: 10px;
   font-size: 1.7rem;
   font-weight: 300;
}
.formContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 3rem 1rem;
}

.formFields {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3rem;
}
.formFields:nth-last-child(1),
.formFields:nth-last-child(2) {
   margin-bottom: 0;
}

.labelContainer {
   justify-self: flex-end;
   flex: 2;
   margin-right: 1rem;
}
.inputContainer {
   height: 3rem;
   flex: 2;
   margin-right: 1rem;
   position: relative;
   background: rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.input {
   width: 100%;
   padding: 0.5rem;
}

.button {
   padding: 0 2rem;
   height: 5rem;
   width: 15rem;
   margin: auto;
}
.filterContainer {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 1rem;
   align-items: center;
   gap: 2rem;
}
.input {
   padding: 0.5rem;
   width: 25rem;
}
.itemContainer {
   font-size: 1.7rem;
   text-align: start;
   font-weight: 300;
   max-height: 37rem;
   border-bottom: 1px solid #000;
   display: grid;
   grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
}

.itemContainer > div:first-child {
   text-align: left;
   padding: 1rem 0rem 1rem 2rem;
   border-right: 1px solid #000;
}
.itemContainer > div:not(:first-child) {
   width: 100%;
   height: 100%;
   padding: 0.5rem 0.5rem;
   border-right: 1px #000 solid;
}
.itemContainer > div:last-child {
   border: none;
}
.itemContainer > div > input {
   width: 100%;
   height: 100%;
   padding: 0.5rem;
   text-align: center;
   font-size: 1.7rem;
}
.itemContainer input::-webkit-outer-spin-button,
.itemContainer input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
.itemContainer input[type="number"] {
   -moz-appearance: textfield;
}

.columnName {
   background: #2196f3;
   font-size: 1.7rem;
   padding: 1.5rem 4rem;
   text-align: start;
   color: #fff;
   font-weight: 400;
}

.listContainer {
   box-sizing: border-box;
   max-height: 37rem;
   overflow-y: scroll;
   border-left: 1px solid #000;
   border-bottom: 1px solid #000;
}
.columnTitlecontainer {
   display: grid;
   grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
   padding: 0;
   font-weight: 700;
}

.columnTitlecontainer > h4:first-child {
   text-align: left;
   padding: 1rem 0rem 1rem 2rem;
   border-right: 1px solid #000;
}
.columnTitlecontainer > h4:not(:first-child) {
   text-align: center;
   border-right: 1px solid #000;
   padding: 1rem;
}

.columnTitlecontainer > h4:last-child {
   border-right: none;
}

.name {
   font-size: 1.7rem;
   text-align: start;
   padding: 1rem 5rem;
   font-weight: 500;
   border-bottom: 1px solid #000;
}

.columnTitlecontainer {
   display: grid;
   grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
   padding: 0;
   font-weight: 700;
}
.columnTitlecontainer > h4:first-child {
   text-align: left;
   padding: 1rem 0rem 1rem 4rem;
   border-right: 1px solid #000;
}
.columnTitlecontainer > h4:not(:first-child) {
   text-align: center;
   border-right: 1px solid #000;
   padding: 1rem;
}

.columnTitlecontainer > h4:last-child {
   border-right: none;
}

.listContainer2 {
   box-sizing: border-box;
   max-height: 37rem;
   overflow-y: scroll;
   border-left: 1px solid #000;
   border-bottom: 1px solid #000;
}
.columnTitlecontainer2 {
   display: grid;
   grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
   padding: 0;
   font-weight: 700;
}

.columnTitlecontainer2 > h4 {
}
.columnTitlecontainer2 > h4:first-child {
   text-align: left;
   padding: 1rem 0rem 1rem 4rem;
   border-right: 1px solid #000;
   display: flex;
   align-items: center;
}
.columnTitlecontainer2 > h4:not(:first-child) {
   text-align: center;
   border-right: 1px solid #000;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.columnTitlecontainer2 > h4:last-child {
   border-right: none;
}

.name2 {
   font-size: 1.7rem;
   text-align: start;
   padding: 1rem 5rem;
   font-weight: 500;
   border-bottom: 1px solid #000;
}
.itemContainer2 {
   font-size: 1.7rem;
   text-align: start;
   font-weight: 300;
   border-bottom: 1px solid #000;
   display: grid;
   grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
}
.itemContainer2 > div:first-child {
   text-align: left;
   padding: 1rem 0rem 1rem 4rem;
   border-right: 1px solid #000;
}
.itemContainer2 > div:not(:first-child) {
   width: 100%;
   height: 100%;
   padding: 0.5rem 0.5rem;
   border-right: 1px #000 solid;
}
.itemContainer2 > div:last-child {
   border: none;
}
.itemContainer2 > div > input {
   width: 100%;
   height: 100%;
   padding: 0.5rem;
   text-align: center;
   font-size: 1.7rem;
}
.itemContainer2 input::-webkit-outer-spin-button,
.itemContainer2 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
.itemContainer2 input[type="number"] {
   -moz-appearance: textfield;
}

.submitButton {
   margin-top: 3rem;
}

.messageContainer {
   position: relative;
   width: 60%;
   height: 45rem;
   background: #c5e3f4;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.messageHeader {
   font-size: 7rem;
   color: #3c6075;
}

.messageBody {
   margin-top: 3rem;
   font-size: 2.5rem;
   font-weight: 400;
}
.messageFooter {
   font-size: 2.5rem;
   font-weight: 300;
   margin-top: 1rem;
   margin-bottom: 5rem;
}
.modalButton {
   padding: 1.5rem 2rem;
   font-size: 1.5rem;
}
