.container {
   padding: 3rem 6rem;
   height: 100%;
}
.header {
   font-size: 3.5rem;
   margin-bottom: 2rem;
}

.formWrapper {
   height: 35rem;
   background: #fff;
   padding: 5rem 2rem;
   border-radius: 10px;
   font-size: 1.6rem;
   font-weight: 300;
   margin-bottom: 2rem;
}
.formContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 3rem;
   gap: 1rem;
}

.formFields {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 4rem;
}

.labelContainer {
   justify-self: flex-end;
   flex: 2;
   margin-right: 1rem;
}
.inputContainer {
   flex: 3;
   margin-right: 1rem;
   position: relative;
}

.input {
   width: 100%;
   padding: 0.5rem;
}

.button {
   padding: 0 2rem;
   height: 5rem;
   width: 15rem;
   margin: auto;
}
.dropdown {
   flex: 3;
   margin-right: 1rem;
   position: relative;
}

.dropdown > select {
   width: 100%;
   padding: 0.5rem;
}
.dropdown > select > option {
   text-align: center;
}
.radioInput {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 2rem;
   width: 21.5rem;
}

.radioInput > div {
   margin-right: 3rem;
}

.radioInput > div > input[type="radio"] {
   width: 2rem;
   height: 2rem;
   margin-right: 1rem;
}
.addTeacherButtonContainer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3rem;
   margin-bottom: 1rem;
}
.addTeacherButton {
   text-align: left;
   justify-self: left;
}

.addSubjectWrapper {
   height: 10rem;
   background: #fff;
   padding: 0;
   border-radius: 10px;
   font-size: 1.7rem;
   font-weight: 300;
   margin-bottom: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
}
.addSubjectContainer {
   padding-top: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.removeTeacherButtonContainer {
   position: absolute;
   right: 0;
   top: 0;
   border: red 1px solid;
   background: red;
   width: 3.2rem;
   height: 3.2rem;
   padding: 1rem;
}
.removeTeacherButton {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
}

.invalid input {
   border: 1px solid #b40e0e;
   background-color: #fddddd;
}

.invalid input:focus {
   border-color: #ff8800;
   background-color: #fbe8d2;
}

.errorMes {
   position: absolute;
   color: red;
   grid-column: 2;
   font-size: 1.5rem;
   top: 3.2rem;
}

.messageContainer {
   position: relative;
   width: 60%;
   height: 45rem;
   background: #c5e3f4;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.messageHeader {
   font-size: 7rem;
   color: #3c6075;
}

.messageBody {
   margin-top: 3rem;
   font-size: 2.5rem;
   font-weight: 400;
}
.messageFooter {
   font-size: 2.5rem;
   font-weight: 300;
   margin-top: 1rem;
   margin-bottom: 5rem;
}
.modalButton {
   padding: 1.5rem 2rem;
   font-size: 1.5rem;
}
