.itemContainer {
   font-size: 1.7rem;
   text-align: start;
   font-weight: 300;
   border-bottom: 1px solid #000;
   display: grid;
   grid-template-columns: 10fr 2fr;
}

.itemContainer > div {
   padding: 1rem 0 1rem 4rem;
}

.itemContainer > div:last-child {
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button {
   font: inherit;
   background: #2196f3;
   color: white;
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   font-size: 1.5rem;
   border: none;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
   transition: all 0.5s ease;
}
.button:hover {
   background: #14b6db;
   transform: translateY(-3px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 20%);
}
.button:active {
   transform: translateY(1px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
}

.button:focus {
   outline: none;
}
