.listOfBalanceContainer {
   max-width: 120rem;
   margin: auto;
   display: grid;
   grid-template-columns: 25rem auto;
   height: calc(100vh - 10rem);
   padding: 1rem 0;
}

.navbarContainer {
   height: 100%;
}
