.container {
   padding: 3rem 6rem;
   height: 100%;
}
.header {
   font-size: 3.5rem;
   margin-bottom: 2rem;
}

.formWrapper {
   height: 45rem;
   background: #fff;
   padding: 3rem 5rem;
   border-radius: 10px;
   font-size: 1.7rem;
   font-weight: 300;
}
.formContainer {
   display: grid;
   grid-template-columns: 1fr;
   padding: 3rem 3rem 1rem 3rem;
}

.formFields {
   display: grid;
   grid-template-columns: 1fr 5fr;
   align-items: center;
}
.formFields:first-child {
   margin-bottom: 2rem;
}

.titleInputContainer {
   width: 100%;
   text-align: left;
}
.titleInputContainer input {
   padding: 1.5rem 0.5rem;
   font-size: 1.7rem;
   height: 3.5rem;
   width: 100%;
}
.contentLabelContainer {
   align-self: flex-start;
   padding-top: 1rem;
}
.contentInputContainer {
   width: 100%;
   text-align: left;
}
.contentInputContainer textarea {
   white-space: pre-wrap;
   padding: 1rem 1rem;
   font-size: 1.7rem;
   width: 100%;
   height: 26rem;
   resize: none;
}

.controlFields {
   display: grid;
   grid-template-columns: 3fr 2fr;
   padding: 0 3rem;
   justify-content: center;
   align-content: center;
}
.buttonContainer {
   display: flex;
   justify-content: flex-end;
}
.buttonContainer .button {
   font-size: 1.5rem;
   padding: 0.5rem 1rem;
   width: 10rem;
   height: 4rem;
}

/* try */
.checkboxContainer {
   width: 100%;
   display: flex;

   justify-content: flex-end;
   align-items: center;
   gap: 1.7rem;
}
.radioContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding-left: 3rem;
   margin-bottom: 1.5rem;
   cursor: pointer;
   font-size: 1.4rem;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   grid-column: 1;
}

.radioContainer input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: rgb(212, 207, 207);
}

.radioContainer:hover input ~ .checkmark {
   background-color: rgb(204, 204, 204);
}
.radioContainer input:checked ~ .checkmark {
   background-color: #2196f3;
}
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.radioContainer input:checked ~ .checkmark:after {
   display: block;
}
.radioContainer .checkmark:after {
   left: 6.5px;
   top: 2px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/* end here */
.email {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}

.invalid input {
   border: 1px solid #b40e0e;
   background-color: #fddddd;
}

.invalid input:focus {
   border-color: #ff8800;
   background-color: #fbe8d2;
}
.invalid textarea {
   border: 1px solid #b40e0e;
   background-color: #fddddd;
}

.invalid textarea:focus {
   border-color: #ff8800;
   background-color: #fbe8d2;
}

.errorMes {
   position: absolute;
   color: red;
   grid-column: 2;
   font-size: 1.5rem;
   top: 3.2rem;
}

.messageContainer {
   position: relative;
   width: 60%;
   height: 45rem;
   background: #c5e3f4;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.messageHeader {
   font-size: 7rem;
   color: #3c6075;
}

.messageBody {
   margin-top: 3rem;
   font-size: 2.5rem;
   font-weight: 400;
}
.messageFooter {
   font-size: 2.5rem;
   font-weight: 300;
   margin-top: 1rem;
   margin-bottom: 5rem;
}
.modalButton {
   padding: 1.5rem 2rem;
   font-size: 1.5rem;
}
